version: '3.8'
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    working_dir: /app
    volumes:
      - ./backend:/app
    environment:
      - NODE_ENV=production
      - MONGO_URL=mongodb://192.168.88.130:27017/devopsdb
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true


